body{
    font-family: 'Be Vietnam Pro', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Noto Sans', sans-serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}