body{
    font-family: 'Be Vietnam Pro', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Noto Sans', sans-serif;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.maindiv{
    display: flex;

    
}
.child1{
    width: 50%;
    padding: 30px 70px 10px 70px;
}
.child2 img{
    margin-top: 80px;
    height: 398px;
    width: 598px;
    border-radius: 30px;
    margin-left: 50px;
}
.border{
    font-size: 50px;
    border-left: rgb(94, 61, 243) 3px solid;
    padding-left: 10px;
    
}
.color{
    color: rgb(247, 70, 70);
}
.para{
    font-size: 20px;
    text-align: justify;
}
.input{
    background-color: black;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
}
/*the second part*/
.heading2{
    text-align: center;
    font-size: 30px;
    color: orangered;
}
.seconddiv{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 30px;
}
.elstrate{
    height: 200px;
    width: 200px;
    padding: 30px;
    border-radius: 50%;
    

}

.logo1{
    background-color: rgb(248, 246, 231);
    margin: 15px;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
}

.logo2{
    background-color: rgb(220, 250, 220);
    margin: 15px;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
}
.logo3{
    background-color: rgba(82, 77, 77, 0.877);
    color: white;
    margin: 15px;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
}
.consult{
    font-size: 45px;
}
.radius{
    border-radius: 30px;
}
.last{
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    text-align: center;
    padding: 10px;
}
